html,
body {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.el-main {
  margin: 0 0 50px;
  padding: 0;
  overflow: hidden;
}

/*
===================
图标 导航、版块管理
展开收起、所属
===================
*/
.start_icon,
.away_icon,
.zero_icon,
.plus_icon,
.plus_end_icon {
  background: url("/src/assets/icon_list.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.start_icon,
.away_icon,
.zero_icon,
.plus_none_icon {
  background: none !important;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

.away_icon {
  background-position: 0 -20px;
}

.zero_icon {
  background-position: -20px 0;
  cursor: default;
}

.plus_icon,
.plus_end_icon {
  width: 40px;
  height: 24px;
  background-position: 0 -43px;
  margin-right: 5px;
}

.plus_end_icon {
  background-position: 0 -70px;
}

.plus_on_icon {
  background-position: 0 -100px;
  cursor: default;
}
